

<!--

<%= month_calendar do |date| %>
  <%= date.day %>
  <br>
  <% @meetings.each do |meeting| %>
    <%= meeting.name %>
  <% end %>
<% end %>
-->


<%= month_calendar events: @meetings do |date, meetings| %>
  <%= date.day %>

  <% meetings.each do |meeting| %>
    <div>
      <%= meeting.name %>
    </div>
  <% end %>
<% end %>